{% extends 'base.html.twig' %}

{% block body %}
    {% for post in posts %}
          {% include "blocks/post_content.twig" %}
    {% endfor %}
        {% if is_granted("ROLE_ADMIN") %}
          <nav>
            <ul class="pager">
              <li><a href="{{ path('post_new') }}">Create</a></li>
            </ul>
          </nav>
        {% endif %}
        </div><!-- /.blog-main -->
{% endblock %}
